@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Passion+One:wght@400;700;900&display=swap');


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:  dimgray;

}

header{
    color: white;
    font-family: 'Passion One', sans-serif;
    font-size: 1.3em;
    font-weight: bolder;
    text-align: center;
}

section{
    width: 500px;
    margin: auto;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0000005e;

}

div{
    padding-bottom: 10px;
    text-align: center;
}

footer{
    color: white;
    font-style: italic;
    text-align: center;
}